# ========================
# 🗄️ Настройки базы данных
# ========================
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=documents
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

# ========================
# 📂 Настройки источников данных
# ========================
DATA_SOURCES=./sources.yaml
UPLOAD_PATH=./data_storage

# ========================
# 🤖 Настройки эмбеддинга
# ========================
HF_EMBEDDER_MODEL=
HF_DEVICE=cpu
CHUNK_UNIT=sentences
CHUNK_SIZE=400
CHUNK_OVERLAP=0
PGVECTOR_DIM=768

# ========================
# 🧠 Настройки LLM агента
# ========================
LLM_TYPE=openai # values: openai, ollama, groq
LLM_BASE_URL=
LLM_MODEL_NAME=
LLM_API_KEY=
LLM_TEMPERATURE=0.0
PROMPTS_PATH=./src/application/prompts

# ========================
# 🚀 FastAPI настройки
# ========================
FASTAPI_HOST=127.0.0.1
FASTAPI_PORT=8000
APP_NAME=DevSecOps Assistant
VERSION=0.1
DEBUG=False